Part_3/Validation_Against_XSD/xmldoc1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="modeoftransport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="car" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="brand" type="xs:string" />
              <xs:element name="seats" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>